@using HomeMenu.Models
@model HomeMenu.Models.EditMenuItemModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Item</h2>

<div class="row">
    <form id="frmAddMenuItem" method="post" action="/Menu/EditItem">
        <input type="text" name="Name" id="Name" value="@Model.MenuItem.Name" /><br />
        <input type="hidden" name="Id" value="@Model.MenuItem.Id" />


        <select id="Catergory" name="Catergory">
            @foreach(ItemCatergoriesModel cat in Model.ItemCatergories)
            {
                var selected = "";
                if (Model.MenuItem.Catergory.Trim() == cat.Name.ToString().Trim())
                {
                    selected = "selected";
                }
                <option value="@cat.Name" @selected>@cat.Name</option>

            }
        </select>

        <input type="submit" value="Submit Edit">

    </form>
</div>

<div class="row">
    <h2>Ingredients</h2>
    <ul>
       
    @foreach(MenuItemIngredientModel ig in Model.CurrentIngredients)
    {
        <li>@ig.IngredientName</li>
    }
    </ul> 

    <h2>Add an ingredient</h2>
    <select id="newIngredient" name="newIngredient">
        @foreach (MenuIngredientModel ig in Model.AvailableIngredients)
        {
            <option value="@ig.Id" >@ig.Name</option>

        }
    </select>
    <a href="#" class="addMenuItemIngredient" >add</a> ingredient

    <input type="hidden" id="userId" value="@Model.MenuItem.UserId" />
    <input type="hidden" id="itemId" value="@Model.MenuItem.Id" />



</div>

<div id="tmp">

</div>
